<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("books", "0");

  function initialize() {
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
    viewer.load('<%= @id %>');
  }
  google.setOnLoadCallback(initialize);
</script>

<header class="title">Here's what we've got for you:</header>

<div class="row">
  <h2 class="col-md-12 bookTitle"><%= @title %></h2>
</div>
<div class="row">
  <h3 class="col-md-12 author">Written by: <%= @author %></h3>
</div>
<div class="row rating">
  <p class="bodyText col-md-12">Average Rating: <%= @averageRating %></p>
</div>
<div class="row bookInfo">
  <p class="bodyText col-md-12"><%= @description %></p>
</div>
<div class="redirect">
  <div class="row">
    <p class="col-md-12">Hate what you see?</p>
  </div>
  <div class="row">
    <div class="col-md-12 button"><%= button_to "Try again!", books_selected_path, :method => :get, class: "btn btn-info", role: "button"  %></div>
  </div>
</div>

  <div class=" canvasContainer">
      <div id="viewerCanvas" class="bookPreview"></div>
  </div>

<div class="row">
  <h2 class="col-md-12 bookTitle">Reviews!</h2>
</div>


<container class="reviews">
  <div id="goodreads-widget">
    <div id="gr_header">
      <h1><a href="<%= @url %>"><%= @title %> Reviews!</a></h1>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe id="the_iframe" class="embed-responsive-item" src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&amp;format=html&amp;isbn=<%= @isbn %>&amp;links=660&amp;min_rating=&amp;review_back=fff&amp;stars=000&amp;text=000" frameborder="2"></iframe>
      <div id="gr_footer"> <a class="gr_branding" target="_blank" href="<%= @url %>?utm_medium=api&amp;utm_source=reviews_widget">Reviews from Goodreads.com</a>
      </div>
    </div>
  </div>
</container>

<div class="buttonContainer">
  <div class="row naviButtons">
    <div class="col-md-6 button selected">
      <a href='/books/1' class="btn btn-info" role="button">Start over</a>
    </div>
    <div class="col-md-6 button selected">
      <a href='/books' class="btn btn-info" role="button">Go home</a>
    </div>
  </div>
</div>



